<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <style>
         a {
         background-color: #1c87c9;
         border: none;
         color: white;
         padding: 20px 34px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         font-size: 20px;
         margin: 4px 2px;
         cursor: pointer;
         }
      </style>

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">


</head>

<body>
    <img src="static/images/logo.png" style="display: block; margin-left: auto; margin-right: auto">
    <div style="text-align: center; margin-top: 10px">
        <a href="/infections">Zachorowania</a><br>
        <a href="/in_quarantine">Osoby poddane kwarantannie</a><br>
        <a href="/number_of_tests">Przeprowadzone testy (wszystkie)</a><br>
        <a href="/daily_number_of_tests">Przeprowadzone testy (dziennie)</a><br>
    </div>

</body>
</html>